############################################################################
# Copyright (C) 2023-2024 Saif Kandil
#
# This file is a part of the ENIGMA Development Environment.
#
# ENIGMA is free software: you can redistribute it and/or modify it under the
# terms of the GNU General Public License as published by the Free Software
# Foundation, version 3 of the license or any later version.
#
# This application and its source code is distributed AS-IS, WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along
# with this code. If not, see <http://www.gnu.org/licenses/>
############################################################################

/Steamv157/sdk/*

!/Steamv157/sdk/Readme.txt

/Steamv157/sdk/public/steam/.vs/*

# public/ & redistributable_bin/ directories contains the necessary headers & libraries for interfacing with 
# Steamworks API and we need to keep any file inside it because we need to test any new release before letting 
# game developers use it and by definition we need to keep the old tested libraries which means game developers 
# don't have to download Steamworks SDK.
!/Steamv157/sdk/public/*
!/Steamv157/sdk/public/**/*.dll
!/Steamv157/sdk/public/**/*.so
!/Steamv157/sdk/public/**/*.dylib

!/Steamv157/sdk/redistributable_bin/*
!/Steamv157/sdk/redistributable_bin/**/*.dll
!/Steamv157/sdk/redistributable_bin/**/*.so
!/Steamv157/sdk/redistributable_bin/**/*.dylib
