/ENIGMA/
/emake
/test-runner
/gm2egm
/LinuxExtra/
/android/
/MacOS/build/Release/EnigmaXcode.app/Contents/Info.plist
/MacOS/build/Release/EnigmaXcode.app/Contents/Resources/*
/definitions.h
/coverage_*.info
/libEGM.*
/libProtocols.*

/shared/protos/build/
/shared/protos/codegen
/CommandLine/libEGM/build/

/ENIGMAsystem/SHELL/API_Switchboard.h
/ENIGMAsystem/SHELL/Preprocessor_Environment_Editable/
/ENIGMAsystem/SHELL/ENIGMAengine
/ENIGMAsystem/SHELL/.objs
/ENIGMAsystem/additional/
/ENIGMAsystem/Additional/

.deps
.eobjs/
/plugins/
/CompilerSource/bin/
/CompilerSource/JDI/dox/
/CompilerSource/JDI/test/defines_linux.txt
/CompilerSource/JDI/test/defines_mingw.txt
/CompilerSource/stupidity-buffer/obj

.DS_Store

ValgrindOut.xml
output_log.txt
hs_err_pid*.log
*.stackdump

*.a
*.class
*.o
*.d
*.db
*.depend
*.gch
*.so
*.dll
*.dylib
*.exe
*.jar
*.log
*.ini
*.res
*.cbTemp
*.layout
*.epackage
*~
