hs_err_pid*.log
searchdirs.txt
redirfile.txt
definitions.h
defines.txt
blank.txt
*.class
*.o
*.d
*.depend
*.so
*.dll
*.exe
*.jar
*~
.eobjs/
ENIGMAsystem/SHELL/Preprocessor_Environment_Editable/
ENIGMAsystem/SHELL/API_Switchboard.h
