[submodule "shared/libwebm"]
	path = shared/libwebm
	url = https://github.com/webmproject/libwebm
[submodule "shared/SDL_mixer/external/flac"]
	path = shared/SDL_mixer/external/flac
	url = https://github.com/libsdl-org/flac.git
	branch = 1.3.4-SDL
[submodule "shared/SDL_mixer/external/ogg"]
	path = shared/SDL_mixer/external/ogg
	url = https://github.com/libsdl-org/ogg.git
	branch = v1.3.5-SDL
[submodule "shared/SDL_mixer/external/vorbis"]
	path = shared/SDL_mixer/external/vorbis
	url = https://github.com/libsdl-org/vorbis.git
	branch = v1.3.7-SDL
[submodule "shared/SDL_mixer/external/opus"]
	path = shared/SDL_mixer/external/opus
	url = https://github.com/libsdl-org/opus.git
	branch = v1.4-SDL
[submodule "shared/SDL_mixer/external/opusfile"]
	path = shared/SDL_mixer/external/opusfile
	url = https://github.com/libsdl-org/opusfile.git
	branch = v0.12-SDL
[submodule "shared/SDL_mixer/external/tremor"]
	path = shared/SDL_mixer/external/tremor
	url = https://github.com/libsdl-org/tremor.git
	branch = v1.2.1-SDL
[submodule "shared/SDL_mixer/external/mpg123"]
	path = shared/SDL_mixer/external/mpg123
	url = https://github.com/libsdl-org/mpg123.git
	branch = v1.31.3-SDL
[submodule "libxmp"]
	path = shared/SDL_mixer/external/libxmp
	url = https://github.com/libsdl-org/libxmp.git
	branch = 4.6.x-SDL
[submodule "shared/SDL_mixer/external/wavpack"]
	path = shared/SDL_mixer/external/wavpack
	url = https://github.com/libsdl-org/wavpack.git
	branch = 5.6.0-sdl
[submodule "shared/SDL_mixer/external/libgme"]
	path = shared/SDL_mixer/external/libgme
	url = https://github.com/libsdl-org/game-music-emu.git
	branch = v0.6.3-SDL
