# competition for Thundercleese
notifications:
  irc: "chat.freenode.net#enigma"
# disable the depth option for git allowing us to merge multiple prs simultaneously
git:
  depth: false
# don't build "feature" branches
branches:
  only:
    - "master"
    
# by default most of our jobs will be run on a linux instance
os: linux
group: travis_latest
compiler: gcc
language: cpp
dist: bionic

env:
  global:
    - OUTPUT=/tmp/test
    # this is the default config each job in the matrix overrides a subset of
    - COMPILER=gcc PLATFORM=xlib MODE=Debug GRAPHICS=OpenGL1 AUDIO=None COLLISION=None NETWORK=None WIDGETS=None EXTENSIONS="None"

before_install: sudo dpkg --add-architecture i386;
install: 
 - ./CI/install_emake_deps.sh && ./CI/split_jobs.sh install
 - ./CI/build_sdl.sh
before_script: make -j4 && make -j4 emake
script: ./CI/split_jobs.sh run
    
jobs:
  # don't wait for OSX
  fast_finish: true
  allow_failures:
    - os: osx
  include:
    - stage: ENIGMA CI
      env: WORKER=0
    - stage: ENIGMA CI
      env: WORKER=1
    - stage: ENIGMA CI
      env: WORKER=2
    - stage: ENIGMA CI
      env: WORKER=3
    - stage: ENIGMA CI
      env: WORKER=4
    - stage: ENIGMA CI
      env: COMPILER=Android GRAPHICS=OpenGLES2 PLATFORM=SDL MODE=Compile ANDROID_API_LEVEL=28 ANDROID_BUILD_TOOLS_VERSION=29.0.3
      before_install: 
        - git clone --depth 1 https://github.com/enigma-dev/enigma-android.git android
        - yes | sdkmanager "platforms;android-29"
        - yes | sdkmanager "build-tools;29.0.3"
      install: ./CI/install_emake_deps.sh 
      before_script: make -j4 && CLI_ENABLE_EGM=FALSE make -j4 emake
      script: ./ci-build.sh
      language: android
      dist: trusty
      android:
      components:
        - tools
        - platform-tools
        - tools
        - extra-android-m2repository
    - stage: ENIGMA CI
      env: WORKER=0
      os: osx
      osx_image: xcode11.3
      before_install:

