[Desktop Entry]
Exec=lateralgm %U
Icon=enigma
Type=Application
Terminal=true
Name=ENIGMA Game Maker
GenericName=ENIGMA Game Maker
StartupNotify=true
Categories=Application;Development;

