[Desktop Entry]
Version=1.0.0.0
Name=STIGMA
GenericName=Development Environment
Exec=/usr/bin/stigma-dev/start.sh
Icon=/usr/bin/stigma-dev/Resources/logo.png
Terminal=false
Type=Application
Categories=Game;Development;
