
[Desktop Entry]
Name=ENIGMA
GenericName=ENIGMA
Comment=Design games in an environment similar to Game Maker
Exec=xterm -e "cd /opt/ENIGMA/ && make && java -jar l*.jar"
Icon=/opt/ENIGMA/LinuxExtra/usr/share/pixmaps/enigma.svg
StartupNotify=true
Terminal=false
Type=Application
Categories=Development
Name[en_US]=enigma
