#ifndef GETLOGIN_RC
#define GETLOGIN_RC 
getlogindialog DIALOG 0, 0, 185, 64

#include <windows.h>

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
  DEFPUSHBUTTON   "OK", 10, 5, 44, 50, 14, BS_DEFPUSHBUTTON
  PUSHBUTTON      "Cancel", 11, 60, 44, 50, 14, BS_PUSHBUTTON
  LTEXT           "Username", 12, 5, 7, 35, 14
  LTEXT           "Password", 13, 5, 23, 35, 14
  EDITTEXT        14, 45, 5, 135, 14, ES_AUTOHSCROLL | ES_LEFT | WS_BORDER | WS_TABSTOP
  EDITTEXT        15, 45, 21, 135, 14, ES_AUTOHSCROLL | ES_LEFT | ES_PASSWORD | WS_BORDER | WS_TABSTOP
}
#endif