#define byte __windows_byte_workaround
#include <windows.h>
#undef byte


1 RT_MANIFEST "Widget_Systems/Win32/manifest.xml"

/* --- get_login --- */
getlogindialog DIALOG 0, 0, 185, 64

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
  EDITTEXT        14, 45, 5, 135, 14, ES_AUTOHSCROLL | ES_LEFT | WS_BORDER | WS_TABSTOP
  EDITTEXT        15, 45, 21, 135, 14, ES_AUTOHSCROLL | ES_LEFT | ES_PASSWORD | WS_BORDER | WS_TABSTOP
  DEFPUSHBUTTON   "OK", 10, 5, 44, 50, 14, BS_DEFPUSHBUTTON
  PUSHBUTTON      "Cancel", 11, 60, 44, 50, 14, BS_PUSHBUTTON
  LTEXT           "Username", 12, 5, 7, 35, 14
  LTEXT           "Password", 13, 5, 23, 35, 14
}

/* --- get_string --- */
getstringdialog DIALOG 0, 0, 185, 63

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
  EDITTEXT        12, 5, 43, 174, 15, ES_AUTOHSCROLL | ES_LEFT | WS_BORDER | WS_TABSTOP
  DEFPUSHBUTTON   "OK", 10, 129, 5, 50, 14, BS_DEFPUSHBUTTON
  PUSHBUTTON      "Cancel", 11, 129, 21, 50, 14, BS_PUSHBUTTON
  LTEXT           "Uninitialized message",13, 5, 5, 119, 33, SS_LEFT
}

/* --- get_password --- */
getpassworddialog DIALOG 0, 0, 185, 63

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
	EDITTEXT        12, 5, 43, 174, 15, ES_AUTOHSCROLL | ES_PASSWORD | ES_LEFT | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON   "OK", 10, 129, 5, 50, 14, BS_DEFPUSHBUTTON
	PUSHBUTTON      "Cancel", 11, 129, 21, 50, 14, BS_PUSHBUTTON
	LTEXT           "Uninitialized message", 13, 5, 5, 119, 33, SS_LEFT
}

/* --- show_message_ext --- */
showmessageext DIALOG 0, 0, 185, 64

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
  LTEXT           "Message", 10, 5, 7, 175, 30
  DEFPUSHBUTTON   "but1", 11, 5, 44, 50, 14, BS_DEFPUSHBUTTON
  PUSHBUTTON      "but2", 12, 60, 44, 50, 14, BS_PUSHBUTTON
  PUSHBUTTON      "but3", 13, 115, 44, 50, 14, BS_PUSHBUTTON
}

/* --- show_info --- */
infoicon ICON "Widget_Systems/Win32/info.ico"
showinfo DIALOG 0, 0, 500, 400

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Information"
FONT 8, "Ms Shell Dlg 2"
{

}

/* --- highscore_show --- */
#include "Widget_Systems/Win32/dialogs.h"
highscoretable DIALOG 0, 0, 219, 233
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Top Ten Players"
FONT 8, "MS Shell Dlg"
{
    CTEXT           "press <Escape> to close",IDC_STATIC,0,215,218,18,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CTEXT           "1.",IDC_STATIC,0,0,25,21,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CTEXT           "3.",IDC_STATIC,0,44,25,21,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CTEXT           "2.",IDC_STATIC,0,22,25,21,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CTEXT           "4.",IDC_STATIC,0,65,25,21,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CTEXT           "5.",IDC_STATIC,0,86,25,21,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CTEXT           "6.",IDC_STATIC,0,108,25,21,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CTEXT           "8.",IDC_STATIC,0,153,25,21,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CTEXT           "7.",IDC_STATIC,0,130,25,21,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CTEXT           "9.",IDC_STATIC,0,174,25,21,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CTEXT           "10.",IDC_STATIC,0,194,25,21,SS_CENTERIMAGE | SS_SUNKEN,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    EDITTEXT        IDC_EDIT1,25,0,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT2,25,21,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT3,25,44,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT4,25,66,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT5,25,86,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT6,25,108,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT7,25,130,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT8,25,152,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT9,26,171,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT10,25,192,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT11,119,0,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT12,119,21,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT13,119,44,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT14,119,66,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT15,119,86,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT16,119,108,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT17,119,130,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT18,119,152,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT19,120,171,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT20,119,192,98,21,ES_CENTER | ES_AUTOHSCROLL,WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
}
