#define byte __windows_byte_workaround
#include <windows.h>
#undef byte


1 RT_MANIFEST "Widget_Systems/Win32/manifest.xml"

/* --- get_login --- */
getlogindialog DIALOG 0, 0, 185, 64

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
  EDITTEXT        14, 45, 5, 135, 14, ES_AUTOHSCROLL | ES_LEFT | WS_BORDER | WS_TABSTOP
  EDITTEXT        15, 45, 21, 135, 14, ES_AUTOHSCROLL | ES_LEFT | ES_PASSWORD | WS_BORDER | WS_TABSTOP
  DEFPUSHBUTTON   "OK", 10, 5, 44, 50, 14, BS_DEFPUSHBUTTON
  PUSHBUTTON      "Cancel", 11, 60, 44, 50, 14, BS_PUSHBUTTON
  LTEXT           "Username", 12, 5, 7, 35, 14
  LTEXT           "Password", 13, 5, 23, 35, 14
}

/* --- get_string --- */
getstringdialog DIALOG 0, 0, 185, 63

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
  EDITTEXT        12, 5, 43, 174, 15, ES_AUTOHSCROLL | ES_LEFT | WS_BORDER | WS_TABSTOP
  DEFPUSHBUTTON   "OK", 10, 129, 5, 50, 14, BS_DEFPUSHBUTTON
  PUSHBUTTON      "Cancel", 11, 129, 21, 50, 14, BS_PUSHBUTTON
  LTEXT           "Uninitialized message",13, 5, 5, 119, 33, SS_LEFT
}

/* --- get_password --- */
getpassworddialog DIALOG 0, 0, 185, 63

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
	EDITTEXT        12, 5, 43, 174, 15, ES_AUTOHSCROLL | ES_PASSWORD | ES_LEFT | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON   "OK", 10, 129, 5, 50, 14, BS_DEFPUSHBUTTON
	PUSHBUTTON      "Cancel", 11, 129, 21, 50, 14, BS_PUSHBUTTON
	LTEXT           "Uninitialized message", 13, 5, 5, 119, 33, SS_LEFT
}

/* --- show_message_ext --- */
showmessageext DIALOG 0, 0, 185, 64

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
  LTEXT           "Message", 10, 5, 7, 175, 30
  DEFPUSHBUTTON   "but1", 11, 5, 44, 50, 14, BS_DEFPUSHBUTTON
  PUSHBUTTON      "but2", 12, 60, 44, 50, 14, BS_PUSHBUTTON
  PUSHBUTTON      "but3", 13, 115, 44, 50, 14, BS_PUSHBUTTON
}

/* --- show_info --- */
infoicon ICON "Widget_Systems/Win32/info.ico"
showinfo DIALOG 0, 0, 500, 400

STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Information"
FONT 8, "Ms Shell Dlg 2"
{

}
