#include "resources.h"
#include <windows.h>
#include <dlgs.h>

1 RT_MANIFEST "Widget_Systems/Win32/manifest.xml"

/* --- get_login --- */
getlogindialog DIALOGEX 0, 0, 185, 64

STYLE DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
  DEFPUSHBUTTON   "OK", 10, 5, 44, 50, 14, BS_DEFPUSHBUTTON
  PUSHBUTTON      "Cancel", 11, 60, 44, 50, 14, BS_PUSHBUTTON
  LTEXT           "Username", 12, 5, 7, 35, 14
  LTEXT           "Password", 13, 5, 23, 35, 14
  EDITTEXT        14, 45, 5, 135, 14, ES_AUTOHSCROLL | ES_LEFT | WS_BORDER | WS_TABSTOP
  EDITTEXT        15, 45, 21, 135, 14, ES_AUTOHSCROLL | ES_LEFT | ES_PASSWORD | WS_BORDER | WS_TABSTOP
}

/* --- get_string, get_password, get_integer, get_passcode --- */
IDD_INPUTBOX DIALOGEX 0, 0, 357, 128
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Input Box"
FONT 8, "MS Shell Dlg 2"
{
  EDITTEXT        IDC_EDIT, 11, 94, 336, 23, ES_AUTOHSCROLL | ES_NOHIDESEL | WS_GROUP
  DEFPUSHBUTTON   "OK", IDOK, 273, 11, 73, 21
  PUSHBUTTON      "Cancel", IDCANCEL, 273, 40, 73, 21
  LTEXT           "Prompt", IDC_PROMPT, 11, 11, 252, 73, SS_NOPREFIX | SS_EDITCONTROL
}

/* --- show_message_ext --- */
showmessageext DIALOGEX 0, 0, 185, 64

STYLE DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "Ms Shell Dlg 2"
{
  LTEXT           "Message", 10, 5, 7, 175, 30
  DEFPUSHBUTTON   "but1", 11, 5, 44, 50, 14, BS_DEFPUSHBUTTON
  PUSHBUTTON      "but2", 12, 60, 44, 50, 14, BS_PUSHBUTTON
  PUSHBUTTON      "but3", 13, 115, 44, 50, 14, BS_PUSHBUTTON
}

/* --- show_info --- */
infoicon ICON "Widget_Systems/Win32/info.ico"
showinfo DIALOGEX 0, 0, 500, 400

STYLE DS_CENTER | DS_MODALFRAME | DS_FIXEDSYS | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Information"
FONT 8, "Ms Shell Dlg 2"
{

}

/* --- get_directory --- */
FILEOPENORD DIALOGEX 0, 0, 424, 255
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Directory"
FONT 8, "MS Shell Dlg 2", 0, 0, 0x0
{
  LTEXT           "Directory &Name:", stc2, 8, 8, 93, 16
  LTEXT           "", stc1, -21845, 24, 21845, 16, SS_NOPREFIX
  LTEXT           "", IDC_DNAME, 8, 24, 409, 16, SS_NOPREFIX | SS_WORDELLIPSIS
  LTEXT           "&Directories:", IDC_LABEL, 8, 56, 72, 16
  LISTBOX         lst2, 8, 72, 213, 123, LBS_SORT | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | WS_VSCROLL | WS_GROUP | WS_TABSTOP
  LTEXT           "&Files: (*.*)", stc3, 232, 56, 72, 16
  LISTBOX         lst1, 232, 72, 185, 93, LBS_SORT | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | WS_VSCROLL | WS_GROUP | WS_TABSTOP
  LTEXT           "D&rives:", stc4, 232, 176, 50, 16
  COMBOBOX        cmb2, 232, 192, 185, 93, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | CBS_LOWERCASE | WS_VSCROLL | WS_GROUP | WS_TABSTOP
  DEFPUSHBUTTON   "OK", IDOK, 256, 224, 77, 27, WS_GROUP
  PUSHBUTTON      "Cancel", IDCANCEL, 340, 224, 77, 27, WS_GROUP
}
