############################################################################
# Copyright (C) 2023-2024 Saif Kandil (k0T0z)
#
# This file is a part of the ENIGMA Development Environment.
#
# ENIGMA is free software: you can redistribute it and/or modify it under the
# terms of the GNU General Public License as published by the Free Software
# Foundation, version 3 of the license or any later version.
#
# This application and its source code is distributed AS-IS, WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along
# with this code. If not, see <http://www.gnu.org/licenses/>
############################################################################

# Ignore everything.
/Steamv157/sdk/**/*
/SteamFake/sdk/**/*

# Don't ignore Readme.txt file.
!/Steamv157/sdk/Readme.txt
!/SteamFake/sdk/Readme.txt

# Don't ignore files inside the SteamvXXX/sdk/public/steam/ folder.
# Note that this code ignores directories inside the SteamvXXX/sdk/public/steam/ folder.
!/Steamv157/sdk/public/
!/Steamv157/sdk/public/steam/
!/Steamv157/sdk/public/steam/*
!/SteamFake/sdk/public/
!/SteamFake/sdk/public/steam/
!/SteamFake/sdk/public/steam/*

# Don't ignore everything inside the SteamvXXX/sdk/redistributable_bin/ folder.
# !/Steamv157/sdk/redistributable_bin/
# !/Steamv157/sdk/redistributable_bin/**/*
# !/SteamFake/sdk/redistributable_bin/
# !/SteamFake/sdk/redistributable_bin/**/*
